<?xml version="1.0" encoding="utf-16"?>
<ConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Username>admin</Username>
  <Password>admin12345</Password>
  <ExportConfig>
    <Location>D:\</Location>
    <IsEnabled>true</IsEnabled>
    <Hour>18</Hour>
    <Minute>30</Minute>
    <Period>H1</Period>
  </ExportConfig>
  <DataConfig>
    <Location>C:\Users\itim\Documents\Projects\MBK-Camera\Mbk.Wpf\bin\Debug\Buffer</Location>
    <IsEnabled>true</IsEnabled>
    <Hour>7</Hour>
    <Minute>0</Minute>
    <Period>H1</Period>
  </DataConfig>
</ConfigModel>